

#title{
    background-image: linear-gradient(to bottom, #1f7ed6  , #c2d7db );
    
  }
  h1{
    font-family:"Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    padding-top: 20px;
  }
  h2{
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
  }
  h3{
    font-family: "Montserrat-bold";
  }
  p{
    color: rgb(170, 146, 9);
  }
  body{
    font-family: "Montserrat";
  }
  .container-fluid
  {
    padding: 3% 15% 17%;
  }

/*navigation bar*/

.navbar{
    padding: 0 0 4.5rem;
  }
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav-item{
    padding: 0 18px;
  }
  .nav-item{
    padding: 0 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
    color: rgb(170, 146, 9);
  }
  .nav-item a{
    color: rgb(170, 146, 9);
  }
  
  /*buttom*/

.download-button{
    margin: 5% 3% 5% 0;
  }
  
  /*image*/
  
  .title-image{
    width: 100%;
    position: absolute;
    padding-left: 140px;
  }
  
  /*features*/
  
  #features
  {
    padding: 7% 15% 7% 15%;
    background-color: white;
    position: relative;
  }
  .feature-box{
  text-align: center;
  padding: 5%;
  }
  #chatbox{
    background-image: linear-gradient(to bottom, #1f7ed6  , #c2d7db );
     padding-top: 60px;
     padding-bottom: 60px;
  }
.a{
  margin-left: 6em;
}



  @media (max-width:991px) {
    .title-image{
      position:static;
      transform: rotate(0);
    }
    #title{
      text-align: center;
    }
  }